/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    width: 100%;
    height: 100%;
}

* {
    color: white;
    --primaryColor: #16253b;
    --blockColor: #1F3959;
    --secondaryColor: #101625;
    font-family: system-ui;
    font-size: 1.7rem;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--primaryColor);
}

.loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);


}



.loading::after {
    content: "Loading";
    -webkit-animation: loading 2s infinite;
            animation: loading 2s infinite;
  }
.loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);

}
  
@-webkit-keyframes loading {
    0% { content: "Loading"; }
    25% { content: "Loading ."; }
    50% { content: "Loading . ."; }
    75% { content: "Loading . . ."; }
}
  
@keyframes loading {
    0% { content: "Loading"; }
    25% { content: "Loading ."; }
    50% { content: "Loading . ."; }
    75% { content: "Loading . . ."; }
}

.options {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20vw;
    margin-bottom: 30px;

}




.option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    border-radius: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--blockColor);
    border: 5.5px solid var(--secondaryColor);
    width: min(20vw, 20vh);
    height: min(20vw, 20vh);
    font-size: 2rem;

    -webkit-transition: all 0.1s ease-in;

    -o-transition: all 0.1s ease-in;

    transition: all 0.1s ease-in;
    
}




@-webkit-keyframes moveRight {
    from {
        -webkit-transform: translateX(-125%);
                transform: translateX(-125%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}




@keyframes moveRight {
    from {
        -webkit-transform: translateX(-125%);
                transform: translateX(-125%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes moveLeft {
    from {
        -webkit-transform: translateX(125%);
                transform: translateX(125%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    from {
        -webkit-transform: translateX(125%);
                transform: translateX(125%);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

.leftShow {
    -webkit-animation: moveLeft 300ms forwards;
            animation: moveLeft 300ms forwards;
}

.rightShow {
    -webkit-animation: moveRight 300ms forwards;
            animation: moveRight 300ms forwards;

}


.option:hover,
.grid-item:hover,
#restart:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    background-color: var(--secondaryColor);
    border: 5.5px solid var(--blockColor);
}

.option:active,
.grid-item:active,
#restart:active {
    -webkit-transition-duration: 10ms;
         -o-transition-duration: 10ms;
            transition-duration: 10ms;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    background-color: var(--secondaryColor);
    border: 5.5px solid var(--blockColor);
    text-shadow: 0 0 4px white;
    -webkit-box-shadow: 0 0 12px var(--blockColor);
            box-shadow: 0 0 12px var(--blockColor);
}


.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

}

.main {
    display: none;
    position: relative;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}



.grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--blockColor);
    border: 5.5px solid var(--secondaryColor);
    width: min(20vw, 20vh);
    height: min(20vw, 20vh);
    padding: 5px;

    border-radius: 10px;
    text-align: center;
}

.win_color {
    color: rgb(20, 161, 76);
    text-shadow: 0 0 4px rgb(20, 161, 76);
    -webkit-box-shadow: 0 0 12px var(--blockColor);
            box-shadow: 0 0 12px var(--blockColor);
}

#restart {
    font-size:1.3rem;
    display: none;
    margin-top: 50px;
    border-radius: 10px;
    height: 70px;
    min-width: 140px;
    max-width: 160px;
    background-color: var(--blockColor);
    border: 5.5px solid var(--secondaryColor);
}

